- content_for :css do
  = stylesheet_link_tag 'nav'
  = stylesheet_link_tag 'users'
  -# = stylesheet_link_tag 'setting'
.container
  .row
    .col-lg-5
      .card
        .card-body
          %table.table.table-hover
            %thead
              %th ID
              %th Name
            - @payments.each do |p|
              %tr
                %td= link_to p.id, edit_payment_path(p), remote: true
                %td= p.name
    .col-lg-5
      .card
        .card-body
          %table.table.table-hover
            %thead
              %th ID
              %th Name
            - @categories.each do |c|
              %tr
                %td= c.id
                %td= c.name