%h1 Users#show
.circle-avatar
  - if @user.image && @user.image.url
    = image_tag @user.image.url(:thumb100), class: "img-circle"
  - else
    = image_tag 'default.png'
%p
  名前 : #{@user.name}
%p
  メールアドレス : #{@user.email}
= link_to "アカウント編集", edit_user_registration_path