- content_for :css do
  = stylesheet_link_tag 'devise'
.l-form
  .form
    = form_for(resource, as: resource_name, url: session_path(resource_name), class: "form") do |f|
      .title
        %h2.cp_h1title
          %span Rabbit
      .form_div
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "form_input" , placeholder: " "
        = f.label :email, class: "form_label"
      .form_div
        = f.password_field :password, autocomplete: "current-password", class: "form_input", placeholder: " "
        = f.label :password, class: "form_label"
        %br/
      .actions
        = f.submit t('.sign_in'), class: "form_button"
    .link
      = render "devise/shared/links"
      = link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post
