- content_for :css do
  = stylesheet_link_tag 'nav'
  = stylesheet_link_tag 'users'
  = stylesheet_link_tag 'chart'
  = stylesheet_link_tag 'calcurator.css', media: 'all', 'data-turbolinks-track': 'reload'
- content_for :js do
  = javascript_include_tag "chart.js", 'data-turbolinks-track': 'reload'
  = javascript_include_tag "calculator.js", 'data-turbolinks-track': 'reload'
%section
  .container-fluid
    .col-xl-12.col-lg-12.col-md-12.ml-auto
      .row.justify-content-around.mb-2
        .col-11.p-2
          .chart
            = high_chart_globals(@chart_globals)
            = high_chart("pie_last_month", @pie_last_month)
        .col-11.p-2
          .chart
            = high_chart("pie_this_month", @pie_this_month)
        .col-11.p-2
          .chart
            = high_chart("pie_current_year", @pie_current_year)
        .col-11.p-2
          .chart
            = high_chart("my_bar_div", @bar)