%aside.sidebar
  .toggle
    %a.burger.js-menu-toggle{"data-target" => "#main-navbar", "data-toggle" => "collapse", :href => "#"}
      %span
  .side-inner
    .profile      
      .circle-avatar
        - if current_user.image && current_user.image.url
          = image_tag current_user.image.url(:thumb100), class: "img-circle"
        -elsif current_user.email = "guest_user@example.com"
          = image_tag 'guest.png'
        - else
          = image_tag 'default.png'
      %br/
      #{current_user.name}        
    .nav-menu
      %ul
        %li          
          %span.mr-3>
          = link_to t('view.carendar'), trades_path
        %li          
          %span.mr-3>
          = link_to t('view.chart'), chart_trades_path
        %li          
          %span.mr-3>
          = link_to t('view.profile'), user_path(current_user.id)
        %li          
          %span.mr-3>
          = link_to t('view.log_out'), destroy_user_session_path, method: :delete