!!!
%html
  %head
    %title Rabbit
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if user_signed_in?      
      = link_to "ログアウト", destroy_user_session_path, method: :delete
      = link_to 'カレンダー', trades_path
      = link_to "プロフィール", user_path(current_user.id)
    - else      
      = link_to "ログイン", new_user_session_path
    = yield
    #remote_container