!!!
%html
  %head
    %title= t('view.logo')
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'calcurator.css', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'    
    = javascript_include_tag "nav.js", 'data-turbolinks-track': 'reload'
    = javascript_include_tag "user.js", 'data-turbolinks-track': 'reload'
    = javascript_include_tag "calculator.js", 'data-turbolinks-track': 'reload'
    = yield :css    
    = yield :js
    %link#favicon{:href => "/images/favicon.ico", :rel => "icon"}/
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.8.2/css/all.css", :integrity => "sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay", :rel => "stylesheet"}/
  %body
    - if user_signed_in?
      = render "layouts/nav", user: @user  
    = render "layouts/message"
    = yield
    #remote_container
    = render "layouts/footer"